.wrapper {
    width: 299px;
    height: 600px;
    background-image:url("../images/rodger_opacity.png"), radial-gradient(circle, hsla(207, 69%, 76%, 1) 0%, hsla(209, 52%, 46%, 1) 100%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.form {
    width: 300px;
    height: 600px;
    background-image: url(../images/mobile_transparency.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: none;
    border: none;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: snow;
    text-shadow: 1px 1px 5px white, 1px 1px 10px rgb(44, 44, 44);

}